<div class="card">
  <div class="card-header bg-info text-white">
    <h5>Product Form (Reactive)</h5>
  </div>
  <div class="card-body">
  <div class="row">
    <form   class=" col-md-6"  [formGroup]="productForm"  (ngSubmit)="addProduct()">
      <div class="mb-3">
        <label for="productid" class="form-label">Product ID</label>
        <input type="number"  formControlName="id"
               class="form-control" id="productid" aria-describedby="emailHelp">
        <div *ngIf="productForm.get('id')?.touched && productForm.get('id')?.invalid"
              class="text-danger">
          The Id is required !
        </div>
      </div>
      <div class="mb-3">
        <label for="producttitle"
               class="form-label">Title</label>
        <input type="text"
        formControlName="title" class="form-control" id="producttitle">
        <div *ngIf="productForm.get('title')?.touched && productForm.get('title')?.invalid"
             class="text-danger">
            The Id is invalid - Should have more than 3 characters !
        </div>
      </div>
      <div class="mb-3">
        <label for="productunitprice"
               class="form-label">Unit price</label>
        <input type="number" formControlName="unitPrice"
                class="form-control" id="productunitprice">
        <div *ngIf="productForm.get('unitPrice')?.touched && productForm.get('unitPrice')?.invalid"
                class="text-danger">
            The Unit Price is required !
          </div>
      </div>
      <button type="submit" class="btn btn-primary"  [disabled]="productForm.invalid">Add To Catalogue</button>
    </form>

  </div>
  </div>

</div>
